/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
}

/* UTILITIES */
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    text-align: center;
    font-size: 52px;
    color:yellow;
}

/* NAV. BUTTONS */
.navigation{
    position: fixed;
    top:50px;
    right: 0;
    z-index: 10;
}
.navigation li{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin:0 20px;
    font-size: 18px;
    text-align: center;
    line-height: 60px;
    background-color: white;
    border-radius: 50%;
    list-style: none;
}
.navigation li a{
    text-decoration: none;
    color:black;
}
/* SHOES SECT. */
.shoes{
    position: relative;
    height: 100vh;
}
.shoes img{
    max-width: 100%;
} 
#shoe-1{
    background-color: red;
}
#shoe-2{
    background-color:#008000;
}
#shoe-3{
    background-color: yellow;
}
#shoe-3 .container{
    color: #008000;
}