/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik Mono One', sans-serif;
    text-transform: uppercase;
}

/* UTILITIES */
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    min-width: 200px;
    text-align: center;
    font-size: 52px;
    color:yellow;
}

/* SHOES SECT. */
.shoes{
    position: relative;
    height: 100vh;
}
.shoes img{
    max-width: 100%;
} 
.shoes.shoe-1{
    background-color: red;
}
.shoes.shoe-2{
    background-color:#008000;
}
.shoes.shoe-3{
    background-color: yellow;
}
.shoe-3 .container{
    color: #008000;
}